.friends{
    margin-top: 4em;
    height: 40vh;
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    /* overflow-y: scroll; */
    height: 40vh;
    /* overflow: auto; */
    border: black .1px solid;
    position: relative;
    padding-top: 2em;
}
.friends h4{
    position: absolute;
    top: -17px;
    left: 10px;
    z-index: 10;
    opacity: 4;
    background: white;
}
.friends-list{
    display: flex;
    flex-wrap: wrap;
}
.friend{
    display: flex;
    flex-direction: row;
    width: 25%
}

.user-image{
    max-height: 100px;
    max-width: 80px;
}
.right{
    display: flex;
    flex-direction: column;
    margin: 0em 1em;
}