.navbar{
    margin-bottom: 4rem;
    background-color: #FFD500 !important;
}

.navbar-light .navbar-brand {
    font-weight: bold;
    color: #632A7B;
}

.navbar-nav .active>.nav-link{
    font-weight: bold;
    color: #632a7b;
}

.navbar-nav img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}